@import "../variables";

#taskmainboard__createtextarea {
  resize: none;
  width: 100%;
  height: 8rem;
  padding: 1rem;
  font-size: 1.5rem;
  border: 1.5px solid $primary;
  outline: none;
  display: none;
}

.taskmainboard {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  overflow: auto;
  &__map {
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 100%;
    min-height: 56rem;
    background-color: rgba(171, 168, 168, 0.1);
    border-radius: 0.5rem 0.5rem 0 0 !important;
    overflow: auto;
    &__create {
      display: flex;
      flex-direction: column;

      &:hover {
        #taskmainboard__createtextarea {
          display: block;
        }
        .taskmainboard__map__createissue {
          display: none;
        }
      }
    }
    &__statustitle {
      padding: 0.8rem;
      text-transform: uppercase;
      font-size: 1.2rem;
      color: $font-dark;
    }
    &__createissue {
      display: flex;
      align-items: center;
      padding: 1rem;
      gap: 0.5rem;
      h1 {
        padding-bottom: 0.3rem;
        font-size: 2rem;
        color: $font-dark;
        display: flex;
      }
      h2 {
        font-size: 1.3rem;
        color: $font-dark;
      }
    }
  }

  &__tasklist {
    width: 30rem;
    height: 48rem;
   // min-height: 5rem;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 0.4rem;
    gap: 0.4rem;
    flex-grow: 1;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
    &::-webkit-scrollbar {
      display: none;
    }
    &__task {
      width: 100%;
      
      padding: 1rem 1rem 0.5rem 1rem;
      background-color: $background-color;
      border: 1px solid rgba(122, 120, 120, 0.1);
      // border-radius: 4%;
      // box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);

      &:hover {
        background-color: rgba(130, 130, 130, 0.1);
        cursor: pointer;

        #taskmainboard__tasklist__taskin__type__icon {
          display: block;
        }

        .taskmainboard__tasklist__taskin__footer__right__2 {
          display: flex;
          align-items: center;
          height: 2.2rem;
          width: 2.2rem;
          justify-content: center;
          font-size: 1.5rem;
          border: 1px solid $background-color;
          border-radius: 50%;
          background-color: $background-color;
        }
      }
    }
    &__taskin {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      
      
      &__type {
        display: flex;
        gap: 0.5rem;
      }
      &__footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__left {
          color: $font-light;
          font-size: 1.2rem;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
        }
        &__right {
          display: flex;
          gap: 1rem;
          &__1 {
            display: flex;
            align-items: center;
            height: 2.2rem;
            width: 2.2rem;
            justify-content: center;
            font-size: 1rem;
            border: 1px solid $primary;
            border-radius: 50%;
            color: #fff;
            background-color: $primary;
          }
          &__2 {
            display: none;
            color: $font-dark;
            &:hover {
              cursor: pointer;
              background-color: $background-color;
              color: $red;
            }
          }
        }
      }

      h1 {
        font-weight: 400;
        font-size: 1.5rem;
        color: #384763;
        padding-bottom: 1rem;
      }
      h2 {
        font-weight: 400;
        font-size: 1.2rem;
        padding: 0.2rem 0.3rem;
        width: fit-content;
        background-color: rgba(130, 130, 130, 0.1);
        color: $font-dark;
      }


      &__dragging{
        padding:1rem;
        background-color: $background-color;
        border: 2px solid $font-dark;
        border-radius: 4%;
        
      }
    }

    &__draggingover{
      
      
      
      min-height: 48rem;
    }
  }


}
#taskmainboard__tasklist__taskin__type__icon {

  color: $font-light;
  font-size: 2rem;
  display: none;
  &:hover {
    color: $primary;
    cursor: pointer;
  }
}
