@import "./variables";


.header {
    width : 100%;
    height : 5rem;
    border-bottom: 1px solid $grey-border;
    display: flex;
    
    &__left {
        height: 100%;
        font-size : 4rem;
        display: flex;
        margin-left: 2.5rem;
        gap : 2rem;
        color : $primary;
        h1{
            font-size: 3rem;
            margin : auto 0;
            text-transform: uppercase;

            span{
                color: black;
            }          
        }
    }

    &__right{
        height: 100%;
        font-size : 2.5rem;
        margin : .45rem 1.5rem auto auto;
        display: flex;
        gap : 1.2rem;

        &__profile{
            height : 100%;
            display: flex;
            gap : 1.2rem;
            align-items: center;
            font-size: 1rem;
            color: $font-dark;
            
            
            img{
                height : 4rem;
                width : 4rem;
                margin-bottom: 0.7rem;
                border-radius: 30%; 
            }

            h1{
                 margin-bottom :0.7rem;
                 border: 1px solid $grey-border;
                 border-radius: 1rem;
                 padding : 0.3rem;
                 background: #fff;
            }


        }

        &__logout, &__notification{
            width : 4rem;
            height : 4rem;
            background: $red-blur1;
            color : #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
            border-radius: 30%;

            
            &:hover{
                cursor: pointer;
                color : #fff;
                border-radius: 50%;
                font-size : 2.2rem;
            }
        }

        &__notification{
            background-color : #fff !important;
            color : $grey-icon;

            &:hover{
                color : $grey-icon;
            }

        }
    }
}